# =============================================
# ============== X Y K   P O O L ==============
# =============================================

manifestVersion: subsquid.io/v0.1
name: hydration-storage-dictionary
slot: 203
description: Hydration storage dictionary for XYK pool storage
build:
deploy:
  addons:
    postgres:
      config:
        statement_timeout: 360000
        log_min_duration_statement: 60000
  processor:
    - name: xyk-pool-batch-proc-1
      cmd: ['sqd', 'process:prod']
      env:
        RPC_HYDRATION_URL: wss://archive.rpc.hydration.cloud
        GATEWAY_HYDRATION_HTTPS: https://v2.archive.subsquid.io/network/hydradx
        PROCESS_LBP_POOLS: false
        PROCESS_XYK_POOLS: true
        PROCESS_OMNIPOOLS: false
        PROCESS_STABLEPOOLS: false
        GQL_PORT: 8080
        NODE_ENV: production
        OMNIPOOL_ADDRESS: '0x6d6f646c6f6d6e69706f6f6c0000000000000000000000000000000000000000'
        START_BLOCK: 3934550
        END_BLOCK: 4400000
        STATE_SCHEMA_NAME: xyk_pool__batch_proc_1
        SUB_BATCH_SIZE: 300
        INDEXER_MAX_SUB_BATCH_SIZE: 1000
    - name: xyk-pool-batch-proc-2
      cmd: ['sqd', 'process:prod']
      env:
        RPC_HYDRATION_URL: wss://archive.rpc.hydration.cloud
        GATEWAY_HYDRATION_HTTPS: https://v2.archive.subsquid.io/network/hydradx
        PROCESS_LBP_POOLS: false
        PROCESS_XYK_POOLS: true
        PROCESS_OMNIPOOLS: false
        PROCESS_STABLEPOOLS: false
        GQL_PORT: 8080
        NODE_ENV: production
        OMNIPOOL_ADDRESS: '0x6d6f646c6f6d6e69706f6f6c0000000000000000000000000000000000000000'
        START_BLOCK: 4400001
        END_BLOCK: 4800000
        STATE_SCHEMA_NAME: xyk_pool__batch_proc_2
        SUB_BATCH_SIZE: 300
        INDEXER_MAX_SUB_BATCH_SIZE: 1000
    - name: xyk-pool-batch-proc-3
      cmd: ['sqd', 'process:prod']
      env:
        RPC_HYDRATION_URL: wss://archive.rpc.hydration.cloud
        GATEWAY_HYDRATION_HTTPS: https://v2.archive.subsquid.io/network/hydradx
        PROCESS_LBP_POOLS: false
        PROCESS_XYK_POOLS: true
        PROCESS_OMNIPOOLS: false
        PROCESS_STABLEPOOLS: false
        GQL_PORT: 8080
        NODE_ENV: production
        OMNIPOOL_ADDRESS: '0x6d6f646c6f6d6e69706f6f6c0000000000000000000000000000000000000000'
        START_BLOCK: 4800001
        END_BLOCK: 5200000
        STATE_SCHEMA_NAME: xyk_pool__batch_proc_3
        SUB_BATCH_SIZE: 300
        INDEXER_MAX_SUB_BATCH_SIZE: 1000
    - name: xyk-pool-batch-proc-4
      cmd: ['sqd', 'process:prod']
      env:
        RPC_HYDRATION_URL: wss://archive.rpc.hydration.cloud
        GATEWAY_HYDRATION_HTTPS: https://v2.archive.subsquid.io/network/hydradx
        PROCESS_LBP_POOLS: false
        PROCESS_XYK_POOLS: true
        PROCESS_OMNIPOOLS: false
        PROCESS_STABLEPOOLS: false
        GQL_PORT: 8080
        NODE_ENV: production
        OMNIPOOL_ADDRESS: '0x6d6f646c6f6d6e69706f6f6c0000000000000000000000000000000000000000'
        START_BLOCK: 5200001
        END_BLOCK: 5600000
        STATE_SCHEMA_NAME: xyk_pool__batch_proc_4
        SUB_BATCH_SIZE: 300
        INDEXER_MAX_SUB_BATCH_SIZE: 1000
    - name: xyk-pool-batch-proc-5
      cmd: ['sqd', 'process:prod']
      env:
        RPC_HYDRATION_URL: wss://archive.rpc.hydration.cloud
        GATEWAY_HYDRATION_HTTPS: https://v2.archive.subsquid.io/network/hydradx
        PROCESS_LBP_POOLS: false
        PROCESS_XYK_POOLS: true
        PROCESS_OMNIPOOLS: false
        PROCESS_STABLEPOOLS: false
        GQL_PORT: 8080
        NODE_ENV: production
        OMNIPOOL_ADDRESS: '0x6d6f646c6f6d6e69706f6f6c0000000000000000000000000000000000000000'
        START_BLOCK: 5600001
        END_BLOCK: -1
        STATE_SCHEMA_NAME: xyk_pool__batch_proc_5
        SUB_BATCH_SIZE: 300
        INDEXER_MAX_SUB_BATCH_SIZE: 1000
  api:
    env:
      RPC_HYDRATION_URL: wss://archive.rpc.hydration.cloud
      GATEWAY_HYDRATION_HTTPS: https://v2.archive.subsquid.io/network/hydradx
      PROCESS_LBP_POOLS: false
      PROCESS_XYK_POOLS: true
      PROCESS_OMNIPOOLS: false
      PROCESS_STABLEPOOLS: false
      GQL_PORT: 8080
      NODE_ENV: production
      OMNIPOOL_ADDRESS: '0x6d6f646c6f6d6e69706f6f6c0000000000000000000000000000000000000000'
      ALL_STATE_SCHEMAS_LIST: 'xyk_pool__batch_proc_1,xyk_pool__batch_proc_2,xyk_pool__batch_proc_3,xyk_pool__batch_proc_4,xyk_pool__batch_proc_5'
      SUB_PROCESSORS_RANGES: "xyk_pool__batch_proc_1:3934550:4400000;xyk_pool__batch_proc_2:4400001:4800000;xyk_pool__batch_proc_3:4800001:5200000;xyk_pool__batch_proc_4:5200001:5600000;xyk_pool__batch_proc_5:5600001:-1"
    cmd:
      - sqd
      - api:prod
scale:
  dedicated: false
  addons:
    postgres:
      profile: large
      storage: 100G
  processor:
    profile: large
